<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title><img src="assets/v5.JPG" class="top"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngFor="let product of products">
        <ion-row>
            <img src="/assets/air.PNG">
        </ion-row>
        <ion-row>
            <div>
                <ion-row>
                    <div>
                        <h5 style="margin-left: 10px;"><b>{{product.p_name}}</b>
                        </h5>
                        <p>{{product.p_price}}</p>
                        <img id="img3" src="/assets/ashok1.jpg">

                        <div style="color:gray">
                            <p>Vehicle Model: {{product.v_name}}</p>
                            <p>KB Part No: {{product.p_kb_part_no}}</p>
                            <p>AM Part No: {{product.p_am_part_no}}</p>
                            <p>OEM Part No: {{product.p_oem_part_no}}</p>
                        </div>
                    </div>
                </ion-row>
                <ion-row>
                    <div style="margin-left: 0px;">
                        <ion-row>
                            <p><b>FRONT(FR) & REAR(RR):</b> <br/>{{product.p_fr_rr}}</p>
                        </ion-row>
                        <ion-row>
                            <p><b>Function:</b> <br/>{{product.p_function}}</p>
                        </ion-row>
                        <ion-row>
                            <section>
                                <p><b>Features :</b></p>
                                <ul class="my-nav">
                                    <li>{{product.p_feature}}</li>

                                </ul>
                            </section>

                        </ion-row>
                    </div>
                </ion-row>
                <br/><br/>

                <ion-row>
                    <p><b>Installation Location:</b> <br/>{{product.installation}}</p>
                </ion-row>
            </div>
        </ion-row>
        <ion-item-divider>
        </ion-item-divider>
        <br/>
        <ion-card>
            <ion-item href="/all-products" class="activated">
                <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
                <ion-label>Repain Kits</ion-label>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item href="/company" class="activated">
                <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
                <ion-label>Service Manual</ion-label>
            </ion-item>
        </ion-card>

    </ion-grid>

    <br/><br/>
    <button class="button button-full customBtn">
    Enquire
 </button>
</ion-content>