ion-content {
    --background: rgb(255, 255, 255);
    white-space: pre-wrap
}

// img {
//     height: 225px;
//     width: auto;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 20px;
// }
p {
    margin-left: 10px;
    height: fit-content;
}

// ion-row {
//     margin-left: 10px;
//     ion-row {
//         margin-left: 0px;
//     }
// }
a {
    margin-left: 10px;
}

.my-nav {
    list-style-type: disc;
}

#img2 {
    widows: 70%;
    height: fit-content;
    display: block;
    margin: 0 auto;
}

.top {
    width: auto;
    align-self: auto;
    height: fit-content;
}

#img3 {
    width: 170px;
    height: 30px;
    max-width: 100%;
    margin-left: 5px;
}

.button.customBtn {
    width: 100%;
    background-color: #264599;
    height: 45px;
    color: white;
    position: absolute;
}

.data {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    opacity: 0.3;
    //text-shadow: 5px 5px #aaa;
    text-shadow: 0 0 25px rgb(180, 89, 89);
}