<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title><img src="assets/top.PNG"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p><b>Products</b></p>
    <ion-card>
        <ion-item href="/all-products" class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>All Products</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item href="/company" class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Vehicle Make</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Air Treatment</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Control Valves</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Foundation Breakes</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Lift Axle</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>ABS & Trailer ABS</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Kits & Loose Parts</ion-label>
        </ion-item>
    </ion-card>
</ion-content>