<ion-header>

</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-title><img src="assets/v5.JPG"></ion-title>
    </ion-toolbar>

    <ion-slides pager></ion-slides>
    <ion-slides pager [options]="slideOptions" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
        <ion-slide>
            <img src="assets/slide1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/knor2.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/knor1.jpg">
        </ion-slide>
    </ion-slides>

    <!-- <div class="bar">
        <ion-searchbar style="padding: 0px 0px 0px 0px;" (ionChange)="getItems($event)" (ionFocus)="getItems($event)" (ionInput)="getItems($event)" placeholder="Product,Part No.,Company,Vehicle Model">
        </ion-searchbar>
        <ion-list>
            <ion-item [routerLink]="['/productDetail',item.p_name]" *ngFor="let item of searchproduct">
                {{ item.p_name}}
            </ion-item>
            <ion-item [routerLink]="['/vehicle', item.name]" *ngFor="let item of searchcomp">
                {{ item.name }}
            </ion-item>

        </ion-list>

    </div> -->

    <ion-card class="adjust2">
        <ion-searchbar style="padding-bottom: 0px; all: unset;" (ionChange)="getItems($event)" (ionFocus)="getItems($event)" (ionInput)="getItems($event)" placeholder="product,vehicle model,part no,company"></ion-searchbar>

        <ion-card-content class="card-content" style="padding: 0px;">
            <div class="break"></div>
            <ion-grid style="padding: 0px;">
                <ion-row class="search_row" *ngFor="let item of searchproduct" [routerLink]="['/productDetail',item.p_name]">
                    <ion-col size=1 style="padding: 0px; padding-top: 5px;">
                        <img src={{item.src}} style="width: 21.66; height: 18.39;">
                    </ion-col>
                    <ion-col size=11>
                        {{item.p_name}}
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="break"></div>
            <ion-grid style="padding: 0px;">
                <ion-row class="search_row" *ngFor="let item of searchcomp" [routerLink]="['/vehicle', item.name]">
                    <ion-col size=1 style="padding: 0px; padding-top: 5px;">
                        <img src={{item.src}} style="width: 21.66; height: 18.39;">
                    </ion-col>
                    <ion-col size=11>
                        {{item.name}}
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>

    <div>
        <p>
            <b>
      Hi {{first_name}},<br>
      How can we help you?
    </b>
        </p>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size=4>
                <ion-card class="cards1" (click)="gotoProducts()">
                    <img src="assets/products icon.svg">
                    <div class="p1">Products</div>
                </ion-card>
            </ion-col>
            <ion-col size=4>
                <ion-card class="cards1" (click)="gotoPriccelist()">
                    <img src="assets/price list icon.svg">
                    <div class="p1">Price List</div>
                </ion-card>
            </ion-col>
            <ion-col size=4>
                <ion-card class="cards1">
                    <img src="assets/distributors icon.svg">
                    <div class="p1">Distributors</div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size=4>
                <ion-card class="cards1">
                    <img src="assets/distributors icon.svg">
                    <div class="p1">Service Center</div>
                </ion-card>
            </ion-col>
            <ion-col size=4>
                <ion-card class="cards1">
                    <img src="assets/maintenance & troubleshooting icon.svg">
                    <div class="p1">Maintanance & Troubleshooting</div>
                </ion-card>
            </ion-col>
            <ion-col size=4>
                <ion-card class="cards1">
                    <img src="assets/contact us icon.svg">
                    <div class="p1">Contact Us</div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <p>
        <b>What's new</b>
    </p>
    <ion-card>
        <ion-row>
            <ion-card-header style="padding-bottom: 0%;">
                <ion-card-title style="font-weight: bolder; font-size:medium;"><u>Dayton/ Ohio: Kiepe Electric to equip another 15 buses with...</u></ion-card-title>
            </ion-card-header>

            <ion-card-content>
                January 16, 2019
            </ion-card-content>
        </ion-row>
        <ion-row>
            <ion-card-header style="padding-bottom: 0%;">
                <ion-card-title style="font-weight: bold;  font-size:medium;"><u>Knorr-Bremse presents strong figures for the first nine months of 2018</u>
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>
                November 28, 2018
            </ion-card-content>
        </ion-row>
        <ion-row>
            <ion-card-header style="padding-bottom: 0%;">
                <ion-card-title style="font-weight: bold; font-size:medium;"><u>Kiepe Electric to supply electrical equipment for Erfurt transport authority's new LRVs</u></ion-card-title>
            </ion-card-header>

            <ion-card-content>
                January 31, 2019
            </ion-card-content>
        </ion-row>

    </ion-card>


    <div class="head2">
        <p>
            <b slot="start">Favourite Items
            <ion-button fill="outline" slot="end" style="padding: 1px 12px 0px 0px" class="ion-float-right"  routerLink="/all-products">Show All</ion-button></b>
        </p>

        <div class="items">
            <ion-grid>
                <ion-row>
                    <ion-slides>
                        <ion-slide>
                            <ion-col size=6>
                                <ion-card (click)="gotoAllProducts()">
                                    <img src="assets/air.PNG">
                                    <p class="name">Air Compressor</p>
                                    <p class="price">$999</p>
                                </ion-card>
                            </ion-col>
                            <ion-col size=6>
                                <ion-card (click)="gotoAllProducts()">
                                    <img src="assets/dryer.jpg">
                                    <p class="name">Air Dryer</p>
                                    <p class="price">$1299</p>
                                </ion-card>
                            </ion-col>
                        </ion-slide>
                    </ion-slides>
                </ion-row>
            </ion-grid>
        </div>

    </div>





    <!-- <div class="horizontal-cards">
        <ion-card (click)="gotoAllProducts()">
            <ion-card-header>
                <img src="assets/air.PNG">
                <ion-card-title>Air Compressor</ion-card-title>
                <ion-card-subtitle>$ 9651</ion-card-subtitle>
            </ion-card-header>

        </ion-card>

        <ion-card (click)="gotoAllProducts()">
            <ion-card-header>
                <img src="assets/dryer.jpg">
                <ion-card-title>Air Dryer</ion-card-title>
                <ion-card-subtitle>$ 6641</ion-card-subtitle>
            </ion-card-header>

        </ion-card>

    </div> -->


    <p>
        <b style="font-weight:600">Want to know more?</b><br/>
    </p>
    <h6 style="margin-left: 15px;">Visit <a style="font-weight:bolder" href="http://www.techprimelab.com/">www.knorr-bremsecvs.com</a></h6>

</ion-content>